@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: radial-gradient(#45657B, #102A3A) repeat;
}

.glass {
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
}

.btn {
    text-transform: none;
}
